<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Rendezvous Simple</title>
    <link rel="shortcut icon" href="assets/favicon.png">
    <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="node_modules/sweetalert/dist/sweetalert.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <v-app height="100%" dark id="e3" standalone class="blue-grey darken-4">
            <!-- side nav  -->
            <v-navigation-drawer class="pa-3 blue-grey darken-4" 
                                persistent absolute height="100%" 
                                enable-resize-watcher 
                                v-model="drawer">
                    
                    <!-- language selector  -->
                    <v-select   v-bind:items="languages" 
                                v-model="selectedLanguage" 
                                dark 
                                item-value="text">
                    </v-select>
                    <!-- end language selector  -->
                            
                    <!-- search input  -->
                    <v-text-field   class="mb-5" 
                                    label="Enter City, State" 
                                    single-line 
                                    append-icon="search" 
                                    hide-details 
                                    v-model="search"
                                    @keyup.native.enter="getLocations">
                    </v-text-field>
                    <!--end search input  -->
                    
                <v-list>
                    <v-subheader class="blue-grey darken-4" v-if="locations.length > 0">Locations</v-subheader>
                    <v-list class="blue-grey darken-4">
                        <v-list-tile v-for="(location, i) in locations" :key="location.id" avatar>
                            <v-list-tile-title>
                                {{ i+1 + ') ' + location.name}}
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-list>
            </v-navigation-drawer>
            <!-- end side nav  -->
            <!-- header  -->
            <v-toolbar class="blue-grey darken-4">
                <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
                
                <v-toolbar-title>
                    <v-icon fa class="pr-1 pb-1">code</v-icon>
                    Code Rendezvous
                </v-toolbar-title>
                <v-spacer></v-spacer>
           </v-toolbar>
            <!-- end header  -->
            <!-- map section  -->
            <main>
                <v-container>
                    <v-layout>
                        <v-flex xs12>
                            <v-card>
                                <v-card-media >
                                     <div id="map"> </div>  
                                </v-card-media>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </main>
            <!-- end map section  -->
        </v-app>
    </div>
    <!-- Sweet Alert -->
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- vue -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src='node_modules/vuetify/dist/vuetify.min.js'></script>
    <!-- vue-resource -->
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <!-- js for loading gmaps -->
    <script src="gmaps.js"></script>
    <!-- main js file that includes root vue instance -->
    <script src="app.js"></script>
    <!-- initial map loading -->
    <script async src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDfFObV8unb6gwKuKVub7rWXVaAWn_RX8U&callback=initMap"
        onerror="gmapsError()">
    </script>
</body>
</html>